<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d2fy2et424xkoh.cloudfront.net/blog/wp-content/uploads/2019/08/Banner2.jpg);">
  <div class="container">
    <h1>Enjoy your movie night!</h1>
  </div>
</div>

<div class="col p-4 mt-2">
  <h2>All Movies</h2>
    <div class="movies-list p-3">
      <% Movie.all.each do |movie| %>
        <%= render partial: "movies/card", locals: { movie: movie } %>
      <% end %>
    </div>
  <h2>All lists</h2>
  </div>
  <div class="cards px-5">
    <% @lists.each do |list| %>
      <%= render partial: "card", locals: {list: list} %>
    <% end %>
  </div>
</div>
