<div class="container-fluid">
  <div class="row banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? "#{cl_image_path(@list.photo.key)}"  : image_path(@list.movies.pluck(:poster_url).sample || image_path('default.jpg')) %>)">
    <h1 class="text-center h-25"><%= @list.name %></h1>
  </div>
</div>

<div class="container p-5">
  <div class="row p-2 gx-4">
    <% @list.bookmarks.each do |bookmark|%>
      <%= render partial: "movies/card", locals: { bookmark: bookmark} %>
    <% end %>
  </div>
  <%= link_to 'Bookmark a movie', new_list_bookmark_path(@list), class: 'btn btn-info'  %>
</div>
