<div class="container-fluid">
  <div class="row banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? "#{cl_image_path(@list.photo.key)}"  : image_path(@list.movies.pluck(:poster_url).sample || image_path('default.jpg')) %>)">
    <h1 class="text-center h-25"><%= @list.name %></h1>
  </div>
</div>

<div class="container-fluid py-5 px-2">
    <div class="d-flex flex-column-reverse flex-sm-row">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2">
       <% @list.bookmarks.each do |bookmark|%>
        <%= render partial: "bookmarks/card", locals: { bookmark: bookmark} %>
      <% end %>
      </div>
      <div class="col-10 offset-1 col-sm-2 offset-sm-0 text-center text-sm-start mt-4 ms-sm-3">
        <%= link_to 'Bookmark a movie', new_list_bookmark_path(@list), class: 'btn btn-info mx-auto p-2 add-bookmark-btn'  %>
      </div>

    </div>

    </div>
</div>
