<%= link_to movie_path(movie) do %>
<div class="movie-card justify-content-center p-2 me-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url(<%= movie.poster_url %>)">
  <div class="d-flex align-items-center text-center">
    <h2><%= movie.title %></h2>
  </div>
</div>
<% end %>
