.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  a {
    text-decoration: none;
  }
}

.card {
  background-size: cover;
  background-position: center;
  height: 250px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-center{
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.movie-card {
  background-size: cover;
  background-position: center;
  height: 160px;
  min-width: 240px;
  max-width: 500px;
  display: flex;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .remove-link {
    display: flex;
    justify-content: end;
    color: white;
    padding: 16px;
  }
  h2 {
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    color: lightgray;
  }
  p {
    color: lightgray;
  }
  .movie-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.card-bookmark {
  overflow: hidden;
  height: 120px;
  min-width: 290px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .card-bookmark-infos {
    padding: 16px;
    a {
      color: rgb(130,130,130);
      font-weight: 600;
      &:hover {
        color:black;
      }
    }
  }
}

.add-bookmark-btn {
  position: static;
  max-height: 64px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .add-bookmark-btn {
    position: fixed;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
